Web scraping, web harvesting, or web data extraction is data scraping used for extracting data from websites. Web scraping software may directly access the World Wide Web using the Hypertext Transfer Protocol or a web browser.

# BeautifulSoup

Beautiful Soup is a Python package for parsing HTML and XML documents. It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping

In [1]:
#!pip install bs4
#!pip install requests

In [2]:
#importing the required libraries
from bs4 import BeautifulSoup
import requests

# 1.Write a python program to display all the header tags from wikipedia.org.

In [3]:
wiki_page = requests.get('https://en.wikipedia.org')

In [4]:
wiki_page

In [5]:
wiki_soup = BeautifulSoup(wiki_page.content)
#wiki_soup

In [6]:
#Scraping Header tags

header_wiki = wiki_soup.find('h1')
header_wiki.text

head_list = ['h1', 'h2', 'h3']
l_head = len(head_list)

for i in range (l_head):
    header_wiki = wiki_soup.find(head_list[i]).text
    print(header_wiki)

Main Page
From today's featured article

Personal tools

In [7]:
header_wiki = wiki_soup.find('h2')
header_wiki.text

"From today's featured article"

In [8]:
header_wiki = wiki_soup.find('h3')
header_wiki.text

'\nPersonal tools\n'

# 2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [9]:
imdb_page = requests.get('https://www.imdb.com/chart/top/')
imdb_page

In [10]:
imdb_soup = BeautifulSoup(imdb_page.content)
#imbd_soup

In [11]:
movies = imdb_soup.find('tbody', class_ = 'lister-list').find_all('tr')
#tbody is tag where al ther related tag available
#in the tbody tag we have tr tage which is use for each different movie attributes.
print(len(movies)) # by printing length of movive tag we can count how  many tr tags or different movies available

250

In [12]:
#lest write for loop to itreate each 'tr' tag

for movie in movies:
    movie_name = movie.find('td', class_ = 'titleColumn').a.text# in every 'tr' tag their is 'td' tags where movie name present'
    #in class 'titleColumn' movie title/movie name present.
    rank = movie.find('td', class_ = 'titleColumn').text
    rank = movie.find('td', class_ = 'titleColumn').get_text(strip = True)
    rank = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0]
    # if we use '.text' it will return all the tags text within 'td' tag
    #strip = true is atribute used to remove all the speacial char and new lines.
    # we can use split function to get rating only, which we done in last rank code line.
    released_year = movie.find('td', class_ = 'titleColumn').span.text.strip('()') #strip '()' to avoid prenthesis
    rating = movie.find('td', class_ = 'ratingColumn imdbRating').get_text(strip = True) #strip = True to avoid special char.
#     print(movie_name)
 #   print(rank)
#     print(rating)
#     print(released_year)
    
#     print(rank,movie_name,released_year, rating)
#     if rank == '100':
#         break

In [13]:
imdb_movies = []
for movie in movies:
    movie_name = movie.find('td', class_ = 'titleColumn').a.text
    imdb_movies.append(movie_name)
    if len(imdb_movies) == 100:
        break
#print(imdb_movies)

In [14]:
imdb_rank = []
for movie in movies:
    ranks = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0]
    imdb_rank.append(ranks)
    if len(imdb_rank) == 100:
        break
#print(imdb_rank)

In [15]:
imdb_rating = []
for movie in movies:
    rating = movie.find('td', class_ = 'ratingColumn imdbRating').get_text(strip = True)
    imdb_rating.append(rating)
    if len(imdb_rating) == 100:
        break
#print(imdb_rating)

In [16]:
movie_released = []
for movie in movies:
    released = movie.find('td', class_ = 'titleColumn').span.text
    movie_released.append(released)
    if len(movie_released) == 100:
        break
#movie_released

In [17]:
import pandas as pd
df = pd.DataFrame({'Imdb Rank':imdb_rank,'Movie Name':imdb_movies,'Released Year':movie_released,'Imdb Ratting':imdb_rating})
df

   Imdb Rank                         Movie Name Released Year Imdb Ratting
0          1           The Shawshank Redemption        (1994)          9.2
1          2                      The Godfather        (1972)          9.2
2          3                    The Dark Knight        (2008)          9.0
3          4              The Godfather Part II        (1974)          9.0
4          5                       12 Angry Men        (1957)          9.0
..       ...                                ...           ...          ...
95        96                       Citizen Kane        (1941)          8.3
96        97  M - Eine Stadt sucht einen Mörder        (1931)          8.3
97        98                 Lawrence of Arabia        (1962)          8.3
98        99                 North by Northwest        (1959)          8.2
99       100                            Vertigo        (1958)          8.2

[100 rows x 4 columns]

# 3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [18]:
imdb_hi_page = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
imdb_hi_page

In [19]:
hi_page_soup = BeautifulSoup(imdb_hi_page.content)
#hi_page

In [20]:
hindi_movies = hi_page_soup.find('tbody', class_ = 'lister-list').find_all('tr')
len(hindi_movies)

250

In [21]:
imdb_rank = []

for movie in hindi_movies:
    movies = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0]
    imdb_rank.append(movies)
    if len(imdb_rank) == 100:
        break
print(imdb_rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']

In [22]:
imdb_movie = []

for movie in hindi_movies:
    movies = movie.find('td', class_ = "titleColumn").a.text
    imdb_movie.append(movies)
    if len(imdb_movie) == 100:
        break
print(imdb_movie)

['Ramayana: The Legend of Prince Rama', 'Rocketry: The Nambi Effect', 'Golmaal', '777 Charlie', 'Nayakan', 'Anbe Sivam', 'Jai Bhim', 'Pariyerum Perumal', '3 Idiots', 'Apur Sansar', 'Manichitrathazhu', 'Kantara', '#Home', 'Black Friday', 'Kumbalangi Nights', 'Soorarai Pottru', 'Taare Zameen Par', 'C/o Kancharapalem', 'Kireedam', 'Dangal', 'Kaithi', 'Jersey', '96', 'Asuran', 'Thevar Magan', 'Natsamrat', 'Drishyam 2', 'Visaaranai', 'Sita Ramam', 'Thalapathi', 'Pather Panchali', 'Sarpatta Parambarai', 'Jaane Bhi Do Yaaro', 'Thani Oruvan', 'Sardar Udham', 'Aparajito', 'Drishyam', 'Khosla Ka Ghosla!', 'Vada Chennai', 'Ratsasan', 'Chupke Chupke', 'Anniyan', 'Peranbu', 'Mahanati', 'Satya', 'Gangs of Wasseypur', 'Bangalore Days', 'Premam', 'Agent Sai Srinivasa Athreya', 'Drishyam', 'Devasuram', 'Super Deluxe', 'Bhaag Milkha Bhaag', 'Tumbbad', 'Andhadhun', 'Vikram Vedha', 'Guide', 'Chithram', 'Vikram', 'Kannathil Muthamittal', 'Zindagi Na Milegi Dobara', 'Sairat', 'Shahid', 'Aruvi', 'Paan Singh Tomar', 'Iruvar', 'Chhichhore', 'Swades: We, the People', 'Pyaasa', 'Drishyam 2', 'Chak De! India', 'Spadikam', 'Munna Bhai M.B.B.S.', 'Uri: The Surgical Strike', 'Mudhalvan', 'Black', 'Jo Jeeta Wohi Sikandar', 'Dhuruvangal Pathinaaru', 'Lagaan: Once Upon a Time in India', 'Hera Pheri', 'Papanasam', 'Pudhu Pettai', 'Queen', 'PK', 'Article 15', 'Talvar', 'Sarfarosh', 'OMG: Oh My God!', 'Soodhu Kavvum', 'Mandela', 'Sholay', 'Udaan', 'Barfi!', 'Jigarthanda', 'The Legend of Bhagat Singh', 'Kaakkaa Muttai', 'Ustad Hotel', 'Theeran Adhigaaram Ondru', 'Angoor', 'Rang De Basanti']

In [23]:
imdb_ratting = []

for movie in hindi_movies:
    movies = movie.find('td', class_ = 'ratingColumn imdbRating').get_text(strip = True)
    imdb_ratting.append(movies)
    if len(imdb_ratting) == 100:
        break
print(imdb_ratting)

['8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0']

In [24]:
released_year = []

for movie in hindi_movies:
    movies = movie.find('td', class_ = 'titleColumn').span.text.strip("()")
    released_year.append(movies)
    if len(released_year) == 100:
        break
print(released_year)

['1993', '2022', '1979', '2022', '1987', '2003', '2021', '2018', '2009', '1959', '1993', '2022', '2021', '2004', '2019', '2020', '2007', '2018', '1989', '2016', '2019', '2019', '2018', '2019', '1992', '2016', '2021', '2015', '2022', '1991', '1955', '2021', '1983', '2015', '2021', '1956', '2013', '2006', '2018', '2018', '1975', '2005', '2018', '2018', '1998', '2012', '2014', '2015', '2019', '2015', '1993', '2019', '2013', '2018', '2018', '2017', '1965', '1988', '2022', '2002', '2011', '2016', '2012', '2016', '2012', '1997', '2019', '2004', '1957', '2022', '2007', '1995', '2003', '2019', '1999', '2005', '1992', '2016', '2001', '2000', '2015', '2006', '2013', '2014', '2019', '2015', '1999', '2012', '2013', '2021', '1975', '2010', '2012', '2014', '2002', '2014', '2012', '2017', '1982', '2006']

In [25]:
df = pd.DataFrame({'Imdb Rank':imdb_rank,'Movie Name':imdb_movie,'Released Year':released_year,'Imdb Ratting':imdb_ratting})
#df

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
from https://presidentofindia.nic.in/former-presidents.htm

In [26]:
president = requests.get("https://presidentofindia.nic.in/former-presidents.htm")
#print(president.text[0:])
soup = BeautifulSoup(president.content)
#soup

Name

In [27]:
all_president = soup.find_all('div', class_ = "presidentListing")
len(all_president)

14

In [28]:
president_name = []
for i in all_president:
    president_name.append(i.get_text(strip = True))
president_name

['Shri Ram Nath Kovind (birth - 1945)Term of Office:25 July, 2017 to 25 July, 2022https://ramnathkovind.nic.in',
 'Shri Pranab Mukherjee (1935-2020)Term of Office:25 July, 2012 to 25 July, 2017http://pranabmukherjee.nic.in',
 'Smt Pratibha Devisingh Patil (birth - 1934)Term of Office:25 July, 2007 to 25 July, 2012http://pratibhapatil.nic.in',
 'DR. A.P.J. Abdul Kalam (1931-2015)Term of Office:25 July, 2002 to 25 July, 2007http://abdulkalam.nic.in',
 'Shri K. R. Narayanan (1920 - 2005)Term of Office:25 July, 1997 to 25 July, 2002',
 'Dr Shankar Dayal Sharma (1918-1999)Term of Office:25 July, 1992 to 25 July, 1997',
 'Shri R Venkataraman (1910-2009)Term of Office:25 July, 1987 to 25 July, 1992',
 'Giani Zail Singh (1916-1994)Term of Office:25 July, 1982 to 25 July, 1987',
 'Shri Neelam Sanjiva Reddy (1913-1996)Term of Office:25 July, 1977 to 25 July, 1982',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)Term of Office:24 August, 1974 to 11 February, 1977',
 'Shri Varahagiri Venkata Giri (1894-1980)Term of Office:3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Dr. Zakir Husain (1897-1969)Term of Office:13 May, 1967 to 3 May, 1969',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)Term of Office:13 May, 1962 to 13 May, 1967',
 'Dr. Rajendra Prasad (1884-1963)Term of Office:26 January, 1950 to 13 May, 1962']

Term of office

In [29]:
term_office = []
for i in all_president:
    term_office.append(i.text.split(":")[1].split("\n")[0])
print(term_office)

[' 25 July, 2017 to 25 July, 2022 ', ' 25 July, 2012 to 25 July, 2017 ', ' 25 July, 2007 to 25 July, 2012 ', ' 25 July, 2002 to 25 July, 2007 ', ' 25 July, 1997 to 25 July, 2002 ', ' 25 July, 1992 to 25 July, 1997 ', ' 25 July, 1987 to 25 July, 1992 ', ' 25 July, 1982 to 25 July, 1987 ', ' 25 July, 1977 to 25 July, 1982 ', ' 24 August, 1974 to 11 February, 1977', ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974', ' 13 May, 1967 to 3 May, 1969', ' 13 May, 1962 to 13 May, 1967', ' 26 January, 1950 to 13 May, 1962']

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [30]:
cricket_page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
cricket_page

In [31]:
cricket_soup = BeautifulSoup(cricket_page.content)
#cricket_soup

In [32]:
all_team = cricket_soup.find('tbody').find_all('tr', class_ = 'table-body')
rank = []

for i in all_team:
    team = i.find('td', class_ = 'table-body__cell table-body__cell--position u-text-right').text
    rank.append(team)

print(rank)

# len(first_team)
# print(first_team)

['2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [33]:
team_name = []

for i in all_team:
    team = i.find('td', class_ = "table-body__cell rankings-table__team").find('span', class_ = 'u-hide-phablet').text
    team_name.append(team)
print(team_name)

['England', 'Australia', 'India', 'Pakistan', 'South Africa', 'Bangladesh', 'Sri Lanka', 'Afghanistan', 'West Indies', 'Ireland', 'Scotland', 'Zimbabwe', 'Namibia', 'Netherlands', 'Oman', 'UAE', 'United States', 'Nepal', 'Papua New Guinea']

In [34]:
matches = []
for i in all_team:
    team = i.find_all('td', class_ = 'table-body__cell u-center-text')[0].text
    matches.append(team)
print(matches)

['30', '32', '35', '22', '24', '30', '30', '19', '41', '23', '27', '26', '23', '21', '30', '25', '31', '25', '30']

In [35]:
points = []
for i in all_team:
    team = i.find_all('td', class_ = 'table-body__cell u-center-text')[1].text
    points.append(team)
print(points)

['3,400', '3,572', '3,866', '2,354', '2,392', '2,753', '2,677', '1,380', '2,902', '1,214', '1,254', '1,098', '808', '673', '919', '693', '821', '476', '128']

In [36]:
ratting = []
for i in all_team:
    team = i.find('td', class_ = 'table-body__cell u-text-right rating').text
    ratting.append(team)
print(ratting)

['113', '112', '110', '107', '100', '92', '89', '73', '71', '53', '46', '42', '35', '32', '31', '28', '26', '19', '4']

In [37]:
df = pd.DataFrame({'Ranks':rank, 'Team Name':team_name, 'Matches':matches, 'Points':points, "Ratting": ratting})
df.iloc[:11,:]

   Ranks     Team Name Matches Points Ratting
0      2       England      30  3,400     113
1      3     Australia      32  3,572     112
2      4         India      35  3,866     110
3      5      Pakistan      22  2,354     107
4      6  South Africa      24  2,392     100
5      7    Bangladesh      30  2,753      92
6      8     Sri Lanka      30  2,677      89
7      9   Afghanistan      19  1,380      73
8     10   West Indies      41  2,902      71
9     11       Ireland      23  1,214      53
10    12      Scotland      27  1,254      46

# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [38]:
odi_bat = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
odi_bat

In [39]:
odi_bat_soup = BeautifulSoup(odi_bat.content)
#odi_bat_soup

In [40]:
all_bat = odi_bat_soup.find('tbody').find_all("tr", class_ = 'table-body')
len(all_bat)

9

In [41]:
rank = []

for i in all_bat:
    player = i.find('td', class_ = "table-body__cell table-body__cell--position u-text-right").span.get_text(strip = True)
    rank.append(player)
print(rank)

['2', '3', '4', '5', '6', '7', '8', '9', '10']

In [42]:
Player_name = []
for i in all_bat:
    name = i.find('td', class_ = "table-body__cell name").a.text
    Player_name.append(name)
print(Player_name)

['Imam-ul-Haq', 'Rassie van der Dussen', 'Quinton de Kock', 'David Warner', 'Steve Smith', 'Jonny Bairstow', 'Virat Kohli', 'Rohit Sharma', 'Kane Williamson']

In [43]:
Nation = []
for i in all_bat:
    country = i.find('td', class_ = 'table-body__cell nationality-logo').find('span', class_ = "table-body__logo-text").text
    Nation.append(country)
print(Nation)

['PAK', 'SA', 'SA', 'AUS', 'AUS', 'ENG', 'IND', 'IND', 'NZ']

In [44]:
ratting = []
for i in all_bat:
    rate = i.find('td', class_ = "table-body__cell u-text-right rating").text
    ratting.append(rate)
print(ratting)

['779', '766', '759', '747', '719', '710', '707', '704', '701']

In [45]:
df = pd.DataFrame({'Rank':rank, 'Player Name':Player_name, 'Nation':Nation, 'Ratting':ratting})
df

  Rank            Player Name Nation Ratting
0    2            Imam-ul-Haq    PAK     779
1    3  Rassie van der Dussen     SA     766
2    4        Quinton de Kock     SA     759
3    5           David Warner    AUS     747
4    6            Steve Smith    AUS     719
5    7         Jonny Bairstow    ENG     710
6    8            Virat Kohli    IND     707
7    9           Rohit Sharma    IND     704
8   10        Kane Williamson     NZ     701

# c) Top 10 ODI bowlers along with the records of their team and rating.

In [46]:
odi_bowlers = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
odi_bowlers

In [47]:
bowler_soup = BeautifulSoup(odi_bowlers.content)
#bowler_soup

In [48]:
all_b = bowler_soup.find('tbody').find_all('tr', class_ = 'table-body')
print(len(all_b))

9

In [49]:
rank = []

for i in all_b:
    bowl = i.find('div', class_ = 'rankings-table__pos-container').span.get_text(strip = True)
    rank.append(bowl)
print(rank)

['2', '3', '4', '5', '6', '7', '8', '9', '10']

In [50]:
Player_Name = []
for i in all_b:
    player = i.find('td', class_ = "table-body__cell name").a.text
    Player_Name.append(player)
print(Player_Name)

['Imam-ul-Haq', 'Rassie van der Dussen', 'Quinton de Kock', 'David Warner', 'Steve Smith', 'Jonny Bairstow', 'Virat Kohli', 'Rohit Sharma', 'Kane Williamson']

In [51]:
Nation = []
for i in all_b:
    country = i.find('td', class_ = 'table-body__cell nationality-logo').find('span', class_ = 'table-body__logo-text').text
    Nation.append(country)
print(Nation)

['PAK', 'SA', 'SA', 'AUS', 'AUS', 'ENG', 'IND', 'IND', 'NZ']

In [52]:
ratting = []
for i in all_b:
    rate = i.find('td', class_ = 'table-body__cell u-text-right rating').text
    ratting.append(rate)
print(ratting)

['779', '766', '759', '747', '719', '710', '707', '704', '701']

In [53]:
df = pd.DataFrame({'Rank':rank, 'Player Name':Player_name, 'Country':Nation, 'Ratting':ratting})
df

  Rank            Player Name Country Ratting
0    2            Imam-ul-Haq     PAK     779
1    3  Rassie van der Dussen      SA     766
2    4        Quinton de Kock      SA     759
3    5           David Warner     AUS     747
4    6            Steve Smith     AUS     719
5    7         Jonny Bairstow     ENG     710
6    8            Virat Kohli     IND     707
7    9           Rohit Sharma     IND     704
8   10        Kane Williamson      NZ     701

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [54]:
women_team = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
women_team

In [55]:
top_team = BeautifulSoup(women_team.content)
#top_team

In [56]:
all_team = top_team.find('tbody').find_all('tr', class_ = "table-body")
print(len(all_team))

12

In [57]:
rank = []
for i in all_team:
    teams = i.find('td', class_ = "table-body__cell table-body__cell--position u-text-right").text
    rank.append(teams)
print(rank)

['2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13']

In [58]:
team_name = []
for i in all_team:
    teams = i.find('td', class_ = 'table-body__cell rankings-table__team').find('span', class_ = "u-hide-phablet").text
    team_name.append(teams)
print(team_name)

['South Africa', 'England', 'India', 'New Zealand', 'West Indies', 'Bangladesh', 'Thailand', 'Pakistan', 'Sri Lanka', 'Ireland', 'Netherlands', 'Zimbabwe']

In [59]:
matches = []
for i in all_team:
    teams = i.find_all('td', class_ ="table-body__cell u-center-text")[0].text
    matches.append(teams)
print(matches)

['26', '25', '27', '24', '24', '12', '8', '24', '8', '14', '9', '8']

In [60]:
points = []
for i in all_team:
    teams = i.find_all('td', class_ = "table-body__cell u-center-text")[1].text
    points.append(teams)
print(points)

['3,098', '2,904', '2,820', '2,425', '2,334', '932', '572', '1,519', '353', '548', '0', '0']

In [61]:
rating = []
for i in all_team:
    teams = i.find('td', class_ = "table-body__cell u-text-right rating").text
    rating.append(teams)
rating

['119', '116', '104', '101', '97', '78', '72', '63', '44', '39', '0', '0']

In [62]:
df = pd.DataFrame({'Rank':rank, "Country": team_name, "Matches":matches, "Points":points, "Ratting":rating})
df

   Rank       Country Matches Points Ratting
0     2  South Africa      26  3,098     119
1     3       England      25  2,904     116
2     4         India      27  2,820     104
3     5   New Zealand      24  2,425     101
4     6   West Indies      24  2,334      97
5     7    Bangladesh      12    932      78
6     8      Thailand       8    572      72
7     9      Pakistan      24  1,519      63
8    10     Sri Lanka       8    353      44
9    11       Ireland      14    548      39
10   12   Netherlands       9      0       0
11   13      Zimbabwe       8      0       0

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [63]:
batsmen = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
#batsmen

In [64]:
batswmen_soup = BeautifulSoup(batsmen.content)
#batswmen_soup

In [65]:
all_w_bat = batswmen_soup.find('table', class_ = 'table rankings-table').find_all('tr', class_ = 'table-body')
len(all_w_bat)

99

In [66]:
rank_w = []
for i in all_w_bat:
    team = i.find("td", class_ = "table-body__cell table-body__cell--position u-text-right").get_text(strip = True).split("(")[0]
    rank_w.append(team)
    if len(rank_w) == 10:
        break
print(rank_w)

['2', '3', '4', '5', '6', '7', '8', '9', '10', '11']

In [67]:
player_name_w = []
for i in all_w_bat:
    player = i.find('td', class_ = "table-body__cell rankings-table__name name").a.text
    player_name_w.append(player)
    if len(player_name_w)==10:
        break
print(player_name_w)

['Beth Mooney', 'Laura Wolvaardt', 'Natalie Sciver', 'Harmanpreet Kaur', 'Smriti Mandhana', 'Meg Lanning', 'Rachael Haynes', 'Amy Satterthwaite', 'Chamari Athapaththu', 'Ellyse Perry']

In [68]:
Nation_w = []
for i in all_w_bat:
    country = i.find('td', class_ = "table-body__cell nationality-logo rankings-table__team").get_text(strip = True)
    Nation_w.append(country)
    if len(Nation_w) == 10:
        break
print(Nation_w)

['AUS', 'SA', 'ENG', 'IND', 'IND', 'AUS', 'AUS', 'NZ', 'SL', 'AUS']

In [69]:
ratting_w = []
for i in all_w_bat:
    rate = i.find('td', class_ = "table-body__cell rating").text
    ratting_w.append(rate)
    if len(ratting_w)==10:
        break
print(ratting_w)

['749', '732', '725', '716', '714', '710', '701', '661', '655', '642']

In [70]:
df = pd.DataFrame({'Rank': rank_w, "Player Name": player_name_w, "Country":Nation_w, "Ratting":ratting_w})
df

  Rank          Player Name Country Ratting
0    2          Beth Mooney     AUS     749
1    3      Laura Wolvaardt      SA     732
2    4       Natalie Sciver     ENG     725
3    5     Harmanpreet Kaur     IND     716
4    6      Smriti Mandhana     IND     714
5    7          Meg Lanning     AUS     710
6    8       Rachael Haynes     AUS     701
7    9    Amy Satterthwaite      NZ     661
8   10  Chamari Athapaththu      SL     655
9   11         Ellyse Perry     AUS     642

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [71]:
top = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
top

In [72]:
top_team = BeautifulSoup(top.content)
#top_team

In [73]:
top_w_allround = top_team.find('table', class_ = "table rankings-table").find_all('tr', class_ = "table-body")
len(top_w_allround)

19

In [74]:
rank_al_w = []
for i in top_w_allround:
    rank = i.find('td', class_ = "table-body__cell table-body__cell--position u-text-right").get_text(strip = True).split("(")[0]
    rank_al_w.append(rank)
print(rank_al_w)

['2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [75]:
player_al_w = []
for i in top_w_allround:
    player = i.find('td', class_ = "table-body__cell rankings-table__name name").a.text
    player_al_w.append(player)
print(player_al_w)

['Ellyse Perry', 'Natalie Sciver', 'Amelia Kerr', 'Marizanne Kapp', 'Deepti Sharma', 'Ashleigh Gardner', 'Jess Jonassen', 'Jhulan Goswami', 'Katherine Brunt', 'Nida Dar', 'Sophie Ecclestone', 'Rumana Ahmed', 'Chloe-Lesleigh Tryon', 'Stafanie Taylor', 'Sophie Devine', 'Salma Khatun', 'Chamari Athapaththu', 'Charlotte Dean', 'Sune Luus']

In [76]:
nation_al_w = []
for i in top_w_allround:
    country = i.find("td", class_ = "table-body__cell nationality-logo rankings-table__team").get_text(strip = True)
    nation_al_w.append(country)
print(nation_al_w)

['AUS', 'ENG', 'NZ', 'SA', 'IND', 'AUS', 'AUS', 'IND', 'ENG', 'PAK', 'ENG', 'BAN', 'SA', 'WI', 'NZ', 'BAN', 'SL', 'ENG', 'SA']

In [77]:
ratting_al_w = []
for i in top_w_allround:
    rate = i.find_all("td", class_ = "table-body__cell rating")[0].text
    ratting_al_w.append(rate)
print(ratting_al_w)

['374', '357', '356', '349', '322', '270', '246', '214', '207', '205', '201', '201', '197', '192', '189', '178', '178', '175', '171']

In [78]:
career_best = []
for i in top_w_allround:
    career = i.find('td', class_ = "table-body__cell u-text-right u-hide-phablet").get_text(strip = True)
    career_best.append(career)
print(career_best)

['548 v West Indies, 11/09/2019', '395 v South Africa, 11/07/2022', '356 v West Indies, 25/09/2022', '419 v West Indies, 10/09/2021', '397 v South Africa, 09/10/2019', '279 v West Indies, 30/03/2022', '308 v West Indies, 11/09/2019', '308 v Australia, 02/02/2016', '296 v Australia, 03/02/2022', '209 v Ireland, 06/11/2022', '217 v South Africa, 31/03/2022', '198 v South Africa, 05/03/2022', '197 v England, 18/07/2022', '559 v New Zealand, 10/10/2013', '305 v Australia, 05/10/2020', '170 v Australia, 25/03/2022', '187 v South Africa, 17/02/2019', '175 v India, 24/09/2022', '223 v Ireland, 17/06/2022']

In [79]:
df = pd.DataFrame({"Rank": rank_al_w, "Player Name": player_al_w, "Country": nation_al_w, "Ratting":ratting_al_w, "Career Best":career_best})
df.iloc[0:11,:]

   Rank        Player Name Country Ratting                     Career Best
0     2       Ellyse Perry     AUS     374   548 v West Indies, 11/09/2019
1     3     Natalie Sciver     ENG     357  395 v South Africa, 11/07/2022
2     4        Amelia Kerr      NZ     356   356 v West Indies, 25/09/2022
3     5     Marizanne Kapp      SA     349   419 v West Indies, 10/09/2021
4     6      Deepti Sharma     IND     322  397 v South Africa, 09/10/2019
5     7   Ashleigh Gardner     AUS     270   279 v West Indies, 30/03/2022
6     8      Jess Jonassen     AUS     246   308 v West Indies, 11/09/2019
7     9     Jhulan Goswami     IND     214     308 v Australia, 02/02/2016
8    10    Katherine Brunt     ENG     207     296 v Australia, 03/02/2022
9    11           Nida Dar     PAK     205       209 v Ireland, 06/11/2022
10   12  Sophie Ecclestone     ENG     201  217 v South Africa, 31/03/2022

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world

i) Headline

In [80]:
cnbc = requests.get("https://www.cnbc.com/world/")
cnbc

In [81]:
cnbc_soup = BeautifulSoup(cnbc.content)
#cnbc_soup

In [82]:
Headline = cnbc_soup.find('ul', class_ = "LatestNews-list").find_all("li", class_ = "LatestNews-item")
news = []
for i in Headline:
    latest_news = i.find("div", class_ = "LatestNews-headlineWrapper").a.text
    news.append(latest_news)
print(news)

['Parking lots are becoming as important as cars in climate change efforts', "Amazon's cloud unit faces cost-sensitive customers as economic fears mount", 'Don’t overlook this health warning on your decorative holiday lights', 'How electric air taxis could shake up the airline industry in the next decade', "I raised 2 successful CEOs and a doctor. Here's the No. 1 skill I wish more parents taught kids today", 'Delta pilots would get more than 30% in pay raises under new contract deal', 'Men participate less in 401(k) plans than women unless they are auto-enrolled', 'The best U.S. states to raise a family if you make over $70,000 a year', 'Susan Cain: This Bob Dylan-inspired phrase can make tough conversations easier', '', '', 'Celsius users with crypto collateral stuck turn to bankruptcy process for relief', "Cramer's lightning round: Let Extreme Networks cool off a little before buying", 'Jim Cramer says these 3 apparel stocks benefit from return to office', 'Cramer’s week ahead: Markets need a strong job market, tame inflation to stay up', '', '', 'Biden administration will end monkeypox public health emergency', '', 'GM, LG investing $275 million to expand Tennessee EV battery plant', '', "The Fed's path to a 'Goldilocks' economy just got a little more complicated", '', 'Biden condemns antisemitism as Ye praises Hitler days after dinner with Trump', 'Georgia man arrested for shooting boy campaigning for Warnock in Walker runoff', '', 'The biggest tax changes to know before filing your 2022 return', "'This is a crisis.' Why more workers need access to retirement savings", 'Carnival’s Princess Cruises will return to Japan after nearly three years', 'Tech layoffs may not be a bad omen for U.S. economy at large']

ii) Time

In [83]:
time = []
for i in Headline:
    time_of_news = i.find("div", class_ = "LatestNews-headlineWrapper").find("time", class_ = "LatestNews-timestamp").text
    time.append(time_of_news)
print(time)

['5 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '7 Hours Ago', '7 Hours Ago', '7 Hours Ago', '8 Hours Ago', '8 Hours Ago', '8 Hours Ago', '21 Hours Ago', '21 Hours Ago', '22 Hours Ago', '23 Hours Ago', '23 Hours Ago', '24 Hours Ago', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022', 'December 2, 2022']

iii) News Link

In [84]:
new_link = []
# for i in Headline:
#     link = i.find("a", href = True)
# print("Found the URl", i['href'])

for i in cnbc_soup.find_all('a', class_ = "LatestNews-headline", href = True):
    new_link.append(i)
    print("Related URLs", i['href'])

Related URLs https://www.cnbc.com/2022/12/03/parking-lots-becoming-as-important-as-cars-in-climate-change-efforts.html
Related URLs https://www.cnbc.com/2022/12/03/aws-faces-cost-sensitive-customers-at-reinvent-as-economic-fears-mount.html
Related URLs https://www.cnbc.com/2022/12/03/dont-overlook-this-health-and-safety-warning-on-your-holiday-lights.html
Related URLs https://www.cnbc.com/2022/12/03/how-electric-air-taxis-could-shake-up-the-airline-industry.html
Related URLs https://www.cnbc.com/2022/12/03/i-raised-2-successful-ceos-and-a-doctor-heres-the-no-1-skill-parents-are-failing-to-teach-kids-today.html
Related URLs https://www.cnbc.com/2022/12/03/delta-pilots-would-get-more-than-30percent-in-pay-raises-under-new-contract-deal.html
Related URLs https://www.cnbc.com/2022/12/03/men-participate-less-in-401k-plans-than-women-unless-auto-enrolled.html
Related URLs https://www.cnbc.com/2022/12/03/best-states-raise-a-family-rocket-mortgage.html
Related URLs https://www.cnbc.com/2022/12/03/bestselling-author-susan-cain-how-to-make-tough-conversations-easier.html
Related URLs https://www.cnbc.com/2022/12/03/the-difference-between-this-comeback-and-the-markets-last-failed-bear-market-bounce.html
Related URLs https://www.cnbc.com/2022/12/03/goldman-says-buy-these-five-stocks-in-a-weakening-macro-environment.html
Related URLs https://www.cnbc.com/2022/12/03/celsius-users-with-crypto-collateral-stuck-turn-to-bankruptcy-process.html
Related URLs https://www.cnbc.com/2022/12/02/cramers-lightning-round-let-extreme-networks-cool-off-before-buying.html
Related URLs https://www.cnbc.com/2022/12/02/jim-cramer-says-these-3-apparel-stocks-benefit-from-return-to-office.html
Related URLs https://www.cnbc.com/2022/12/02/cramers-week-ahead-markets-need-a-strong-job-market-tame-inflation.html
Related URLs https://www.cnbc.com/2022/12/02/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html
Related URLs https://www.cnbc.com/2022/12/02/reits-offer-enormous-opportunity-says-gilman-hills-jenny-harrington.html
Related URLs https://www.cnbc.com/2022/12/02/biden-administration-will-end-monkeypox-public-health-emergency.html
Related URLs https://www.cnbc.com/2022/12/02/expect-more-choppiness-ahead-after-a-week-of-mixed-market-signals.html
Related URLs https://www.cnbc.com/2022/12/02/gm-lg-investing-275-million-to-expand-tennessee-ev-battery-plant.html
Related URLs https://www.cnbc.com/2022/12/02/big-tech-stocks-are-at-historical-lows-these-names-have-potential-halftime-report-traders-say.html
Related URLs https://www.cnbc.com/2022/12/02/the-feds-path-to-a-goldilocks-economy-just-got-more-complicated.html
Related URLs https://www.cnbc.com/2022/12/02/three-things-crypto-investors-need-to-know-in-a-post-ftx-world-according-to-financial-advisors.html
Related URLs https://www.cnbc.com/2022/12/02/biden-condemns-antisemitism-after-ye-praises-hitler-post-trump-dinner.html
Related URLs https://www.cnbc.com/2022/12/02/georgia-election-runoff-man-shot-warnock-election-worker.html
Related URLs https://www.cnbc.com/2022/12/02/markets-looking-for-the-next-catalyst-might-latch-on-to-worries-about-2023.html
Related URLs https://www.cnbc.com/2022/12/02/the-biggest-tax-changes-to-know-before-filing-your-2022-return.html
Related URLs https://www.cnbc.com/2022/12/02/why-more-workers-need-access-to-retirement-savings.html
Related URLs https://www.cnbc.com/2022/12/02/carnivals-princess-cruises-will-return-to-japan-after-over-two-years.html
Related URLs https://www.cnbc.com/2022/12/02/tech-layoffs-may-not-be-a-bad-omen-for-us-economy-at-large.html

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [85]:
Ai_articles = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
Ai_articles

In [86]:
article_soup = BeautifulSoup(Ai_articles.content)
#article_soup

In [87]:
Articles = article_soup.find("ul", class_ = "sc-9zxyh7-0 cMKaMj").find_all("li", class_ = "sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs")
len(Articles)

25

i) Paper Title

In [88]:
paper_title = []
for i in Articles:
    title = i.find("h2", class_ = "sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg").text
    paper_title.append(title)
print(paper_title)

['Reward is enough', 'Making sense of raw input', 'Law and logic: A review from an argumentation perspective', 'Creativity and artificial intelligence', 'Artificial cognition for social human–robot interaction: An implementation', 'Explanation in artificial intelligence: Insights from the social sciences', 'Making sense of sensory input', 'Conflict-based search for optimal multi-agent pathfinding', 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning', 'The Hanabi challenge: A new frontier for AI research', 'Evaluating XAI: A comparison of rule-based and example-based explanations', 'Argumentation in artificial intelligence', 'Algorithms for computing strategies in two-player simultaneous move games', 'Multiple object tracking: A literature review', 'Selection of relevant features and examples in machine learning', 'A survey of inverse reinforcement learning: Challenges, methods and progress', 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values', 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models', 'Integrating social power into the decision-making of cognitive agents', "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems", 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies', 'Algorithm runtime prediction: Methods & evaluation', 'Wrappers for feature subset selection', 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics', 'Quantum computation, quantum theory and AI']

i) Authors

In [89]:
Author = []
for i in Articles:
    auth = i.find("span", class_ = "sc-1w3fpd7-0 dnCnAO").text
    Author.append(auth)
print(Author)

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ', 'Evans, Richard, Bošnjak, Matko and 5 more', 'Prakken, Henry, Sartor, Giovanni ', 'Boden, Margaret A. ', 'Lemaignan, Séverin, Warnier, Mathieu and 3 more', 'Miller, Tim ', 'Evans, Richard, Hernández-Orallo, José and 3 more', 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ', 'Sutton, Richard S., Precup, Doina, Singh, Satinder ', 'Bard, Nolan, Foerster, Jakob N. and 13 more', 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ', 'Bench-Capon, T.J.M., Dunne, Paul E. ', 'Bošanský, Branislav, Lisý, Viliam and 3 more', 'Luo, Wenhan, Xing, Junliang and 4 more', 'Blum, Avrim L., Langley, Pat ', 'Arora, Saurabh, Doshi, Prashant ', 'Aas, Kjersti, Jullum, Martin, Løland, Anders ', 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ', 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ', 'Riveiro, Maria, Thill, Serge ', 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ', 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ', 'Kohavi, Ron, John, George H. ', 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ', 'Ying, Mingsheng ']

iii) Published Date

In [90]:
publish_d = []
for i in Articles:
    publish = i.find("span", class_ = "sc-1thf9ly-2 dvggWt").text
    publish_d.append(publish)
print(publish_d)

['October 2021', 'October 2021', 'October 2015', 'August 1998', 'June 2017', 'February 2019', 'April 2021', 'February 2015', 'August 1999', 'March 2020', 'February 2021', 'October 2007', 'August 2016', 'April 2021', 'December 1997', 'August 2021', 'September 2021', 'June 2021', 'December 2016', 'September 2021', 'May 2021', 'January 2014', 'December 1997', 'October 2021', 'February 2010']

iv) Paper URL

In [91]:
url = []
for i in article_soup.find_all("a", class_ ="sc-5smygv-0 fIXTHm", href = True):
    url.append(i)
    print("Related Urls", i['href'])

Related Urls https://www.sciencedirect.com/science/article/pii/S0004370221000862
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370221000722
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370215000910
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370298000551
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370216300790
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370218305988
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370220301855
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370214001386
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370299000521
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370219300116
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370220301533
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370207000793
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370216300285
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370220301958
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370297000635
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370221000515
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370221000539
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370221000096
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370216300868
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370221000588
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370221000102
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370213001082
Related Urls https://www.sciencedirect.com/science/article/pii/S000437029700043X
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370221000734
Related Urls https://www.sciencedirect.com/science/article/pii/S0004370209001398

# 9) Write a python program to scrape mentioned details from dineout.co.in :

In [92]:
restaurant = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
restaurant

In [93]:
rest_soup = BeautifulSoup(restaurant.content)
#rest_soup

all_rest = rest_soup.find("div", class_ ="restnt-card-wrap-new")
len(all_rest)

9

i) Restaurant name

In [94]:
Restaurant_name = []
for i in all_rest:
    rest_name = i.find("div", class_ = "restnt-info cursor").a.text
    Restaurant_name.append(rest_name)
print(Restaurant_name)

['Castle Barbeque', 'Jungle Jamboree', 'Castle Barbeque', 'Cafe Knosh', 'The Barbeque Company', 'India Grill', 'Delhi Barbeque', 'The Monarch - Bar Be Que Village', 'Indian Grill Room']

ii) Cuisine

In [95]:
Cuisine = []
for i in all_rest:
    cuisine_type = i.find("span", class_ = "double-line-ellipsis").a.text
    Cuisine.append(cuisine_type)
print(Cuisine)

['Chinese', 'North Indian', 'Chinese', 'Italian', 'North Indian', 'North Indian', 'North Indian', 'North Indian', 'North Indian']

ii) Location

In [96]:
Location = []
for i in all_rest:
    loca = i.find("div", class_ = "restnt-loc ellipsis").a.text
    Location.append(loca)
print(Location)

['Connaught Place', '3CS Mall,', 'Pacific Mall,', 'The Leela Ambience Convention Hotel,', 'Gardens Galleria,', 'Hilton Garden Inn,', 'Taurus Sarovar Portico,', 'Indirapuram Habitat Centre,', 'Suncity Business Tower,']

iv) Ratings

In [97]:
Ratting = []
for i in all_rest:
    rate = i.find("div", class_ = "restnt-rating rating-4").text
    Ratting.append(rate)
print(Ratting)

['4.1', '3.9', '3.9', '4.3', '4', '3.9', '3.6', '3.8', '4.3']

v) Image URL

In [98]:
image = []
for i in rest_soup.find_all("img", class_ = "no-img"):
    image.append(i.get('data-src'))
image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

# 10) Write a python program to scrape the details of top publications from Google Scholar from 
https://scholar.google.com/citations?view_op=top_venues&hl=en

In [99]:
publications = requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
publications

In [100]:
pub_soup = BeautifulSoup(publications.content)

i) Rank

In [101]:
pub_rank = []
for i in pub_soup.find_all("td", class_ = "gsc_mvt_p"):
    pub_rank.append(i.get_text(strip =True))
print(pub_rank)

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.', '31.', '32.', '33.', '34.', '35.', '36.', '37.', '38.', '39.', '40.', '41.', '42.', '43.', '44.', '45.', '46.', '47.', '48.', '49.', '50.', '51.', '52.', '53.', '54.', '55.', '56.', '57.', '58.', '59.', '60.', '61.', '62.', '63.', '64.', '65.', '66.', '67.', '68.', '69.', '70.', '71.', '72.', '73.', '74.', '75.', '76.', '77.', '78.', '79.', '80.', '81.', '82.', '83.', '84.', '85.', '86.', '87.', '88.', '89.', '90.', '91.', '92.', '93.', '94.', '95.', '96.', '97.', '98.', '99.', '100.']

ii) Publication

In [102]:
public = []
for i in pub_soup.find_all("td", class_ = "gsc_mvt_t"):
    public.append(i.get_text(strip =True))
print(public)

['Nature', 'The New England Journal of Medicine', 'Science', 'IEEE/CVF Conference on Computer Vision and Pattern Recognition', 'The Lancet', 'Advanced Materials', 'Nature Communications', 'Cell', 'International Conference on Learning Representations', 'Neural Information Processing Systems', 'JAMA', 'Chemical Reviews', 'Proceedings of the National Academy of Sciences', 'Angewandte Chemie', 'Chemical Society Reviews', 'Journal of the American Chemical Society', 'IEEE/CVF International Conference on Computer Vision', 'Nucleic Acids Research', 'International Conference on Machine Learning', 'Nature Medicine', 'Renewable and Sustainable Energy Reviews', 'Science of The Total Environment', 'Advanced Energy Materials', 'Journal of Clinical Oncology', 'ACS Nano', 'Journal of Cleaner Production', 'Advanced Functional Materials', 'Physical Review Letters', 'Scientific Reports', 'The Lancet Oncology', 'Energy & Environmental Science', 'IEEE Access', 'PLoS ONE', 'Science Advances', 'Journal of the American College of Cardiology', 'Applied Catalysis B: Environmental', 'Nature Genetics', 'BMJ', 'Circulation', 'European Conference on Computer Vision', 'International Journal of Molecular Sciences', 'Nature Materials', 'Chemical engineering journal', 'AAAI Conference on Artificial Intelligence', 'Journal of Materials Chemistry A', 'ACS Applied Materials & Interfaces', 'Nature Biotechnology', 'The Lancet Infectious Diseases', 'Frontiers in Immunology', 'Applied Energy', 'Nano Energy', 'Nature Energy', 'Meeting of the Association for Computational Linguistics (ACL)', 'The Astrophysical Journal', 'Gastroenterology', 'Nature Methods', 'IEEE Transactions on Pattern Analysis and Machine Intelligence', 'Cochrane Database of Systematic Reviews', 'Blood', 'Neuron', 'Nano Letters', 'Morbidity and Mortality Weekly Report', 'European Heart Journal', 'Nature Nanotechnology', 'ACS Catalysis', 'Nature Neuroscience', 'American Economic Review', 'Journal of High Energy Physics', 'IEEE Communications Surveys & Tutorials', 'Annals of Oncology', 'Nutrients', 'Accounts of Chemical Research', 'Immunity', 'Environmental Science & Technology', 'Nature Reviews. Molecular Cell Biology', 'Gut', 'Physical Review D', 'ACS Energy Letters', 'Monthly Notices of the Royal Astronomical Society', 'Conference on Empirical Methods in Natural Language Processing (EMNLP)', 'Clinical Infectious Diseases', 'Cell Metabolism', 'Nature Reviews Immunology', 'Joule', 'Nature Photonics', 'International Journal of Environmental Research and Public Health', 'Environmental Pollution', 'Computers in Human Behavior', 'Frontiers in Microbiology', 'Nature Physics', 'Small', 'Cell Reports', 'Molecular Cell', 'Clinical Cancer Research', 'Bioresource Technology', 'Journal of Business Research', 'Molecular Cancer', 'Sensors', 'Nature Climate Change', 'IEEE Internet of Things Journal']

iii) h5-index

In [103]:
h5_index = []
for i in pub_soup.find_all("a", class_ = "gs_ibl gsc_mp_anchor"):
    #p = i.find("a",class_ = "gs_ibl gsc_mp_anchor").get_text(strip =True)
    h5_index.append(i.text)
print(h5_index)
# h5_index

['444', '432', '401', '389', '354', '312', '307', '300', '286', '278', '267', '265', '256', '245', '244', '242', '239', '238', '237', '235', '227', '225', '220', '213', '211', '211', '210', '207', '206', '202', '202', '200', '198', '197', '195', '192', '191', '190', '189', '186', '183', '181', '181', '180', '178', '177', '175', '173', '173', '173', '172', '170', '169', '167', '166', '165', '165', '165', '165', '164', '164', '163', '163', '163', '163', '162', '160', '160', '159', '159', '159', '159', '158', '158', '155', '155', '155', '155', '155', '154', '153', '153', '152', '152', '152', '152', '152', '152', '151', '151', '150', '149', '149', '146', '146', '145', '145', '145', '144', '144']

iv) h5-median

In [104]:
h5_median = []
for i in pub_soup.find_all("td", class_ = "gsc_mvt_n"):
    h5_median.append(i.text)
h5_median

['444',
 '667',
 '432',
 '780',
 '401',
 '614',
 '389',
 '627',
 '354',
 '635',
 '312',
 '418',
 '307',
 '428',
 '300',
 '505',
 '286',
 '533',
 '278',
 '436',
 '267',
 '425',
 '265',
 '444',
 '256',
 '364',
 '245',
 '332',
 '244',
 '386',
 '242',
 '344',
 '239',
 '415',
 '238',
 '550',
 '237',
 '421',
 '235',
 '389',
 '227',
 '324',
 '225',
 '311',
 '220',
 '300',
 '213',
 '315',
 '211',
 '277',
 '211',
 '273',
 '210',
 '280',
 '207',
 '294',
 '206',
 '274',
 '202',
 '329',
 '202',
 '290',
 '200',
 '303',
 '198',
 '278',
 '197',
 '294',
 '195',
 '276',
 '192',
 '246',
 '191',
 '297',
 '190',
 '307',
 '189',
 '301',
 '186',
 '321',
 '183',
 '253',
 '181',
 '265',
 '181',
 '224',
 '180',
 '296',
 '178',
 '220',
 '177',
 '223',
 '175',
 '315',
 '173',
 '296',
 '173',
 '228',
 '173',
 '217',
 '172',
 '232',
 '170',
 '314',
 '169',
 '304',
 '167',
 '234',
 '166',
 '254',
 '165',
 '296',
 '165',
 '293',
 '165',
 '243',
 '165',
 '229',
 '164',
 '231',
 '164',
 '207',
 '163',
 '302',
 '163',
 '265',
 '163',
 '264',
 '163',
 '220',
 '162',
 '248',
 '160',
 '263',
 '160',
 '220',
 '159',
 '304',
 '159',
 '243',
 '159',
 '214',
 '159',
 '211',
 '158',
 '242',
 '158',
 '214',
 '155',
 '340',
 '155',
 '235',
 '155',
 '217',
 '155',
 '212',
 '155',
 '194',
 '154',
 '249',
 '153',
 '278',
 '153',
 '211',
 '152',
 '292',
 '152',
 '233',
 '152',
 '228',
 '152',
 '225',
 '152',
 '222',
 '152',
 '214',
 '151',
 '225',
 '151',
 '222',
 '150',
 '196',
 '149',
 '205',
 '149',
 '202',
 '146',
 '201',
 '146',
 '190',
 '145',
 '233',
 '145',
 '209',
 '145',
 '201',
 '144',
 '228',
 '144',
 '212']

# Thanks - Amir Ali